@import url(header.css);
@import url(banner.css);

:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
    --amarelo:#FECD2F;
    --roxo:#800080;
    --fonte-principal: "Poppins";

}

body{
    font-family: var(--fonte-principal) ;
    font-size: 16px;
    font-weight:400;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/social/cs2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family:"Calibri", sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    color: rgb(59, 59, 59);
}

.principal{
    background-image: linear-gradient(to bottom right, gray, #383838)
}

.texto1{
    text-align: center;
    font-size: 36px;
}

.lista-menu-link{
    font-size: 22px;

}

.block{
    height: 300px; 
    width: 300px; 
    background-color: #8d8d8d; 
    margin-top: 80px;
    margin-left: 50px;

}

a{
    text-decoration: none   ;
}
a:link {
    color: rgb(34, 34, 34)   ;
 }
 
a:visited {
     color: rgb(34, 34, 34);
 }
 
a:hover {
     color: orange;
 }
 
a:active {
     color: rgb(34, 34, 34);
 }

 
